<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="//cdn.rawgit.com/TeaMeow/TocasUI/master/dist/tocas.min.css">
  </head>

  <body>
    <div class="ts fluid center aligned container">
      <div class="ts container">
        <!-- menu -->
        <nav class="ts secondary relaxed inverted menu">

          <!-- Logo -->
          <a class="item" href="/index.html">
            <img class="ts small image" src="../img/logo.png" style="margin-top: -.9em">
          </a>
          <!-- About us -->
          <a class="item" href="/about_us.html"></a>


          <!-- Right menu -->
          <div class="right menu">
            <!-- Installation -->
            <a class="item" href="/installation.html"></a>
            <!-- Github Page -->
            <a class="item" href="https://wizardl.io/misato"></a>
          </div>
        </nav>
      </div>
    </div>
  </body>
