<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="//cdn.rawgit.com/TeaMeow/TocasUI/master/dist/tocas.min.css">
  </head>
​
  <body>
  
    <div class="ts primary relaxed menu">
    <a href="#!" class="item"><b>Misato</b></a>
    <div class="right menu">
        <div class="item">
            <div class="ts right icon medium input">
                <font color="white">zypeh | <a href="https://twitter.com/ZhengyanPeh">@ZhengyanPeh</a></font>
                <i class="fa fa-search"></i>
            </div>
        </div>
    </div>
	
	</div>
	
	<a href="https://wizardl.github.io"  style="color: #FF0000;text-decoration:underline;"><h1 align="center" style="color: #331D1D;text-decoration:none;">Misato</h1></a>
	    <p align=center>Misato 是个‘允许你在脸书匿名发布一些羞羞人的话语’平台</p>
    <p align=center>此站尚未完成，敬请期待。</p>
	
  </body>
</html>
